
<div class="container sub_page">
<p id="notice"><%= notice %></p>


<%= gravatar_for @user %>
<p>
  <strong>Name:</strong>
  <%= @user.f_name  %>   <%= @user.l_name  %>

</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
